<h1 id="headline">Complete Me</h1>

<h3 id="instructions">Enter a word or word fragment in the box below<br> to receive a list of completions.</h3>

<%= render partial: "word" %>

<h3 id="instructions">Enter a word fragment and a suggested completion<br> to receive that completion the next time you<br> enter the fragment in the box above.</h3>

<%= render partial: "suggestion" %>
